*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cousine', monospace;
}
/* --------------nav bar css--------------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
}
/* .transparent{
    background-color: transparent;
    position: fixed;
    top: 0;
} */
.colored{
    background-color: #82C3EC;
}
nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:flex-start;
    align-items: center;
}
nav ul li{
    text-decoration: none;
    font-size: 19px;
    padding-left: 3rem;
}
nav ul li a{
    text-decoration: none;
    color: rgb(58, 62, 69);
    font-size: 19px;
    font-weight: 500;
    font-family: 'Cousine', monospace;
    /* color: white; */
}
nav ul li a:hover{
    color: white;
    transition: 1s;
}
.text-black{
    color:rgb(58, 62, 69) ;
}
.text-black:hover{
    color: white;
}
nav input{
    margin:1rem 3rem;
    width: 220px;
    height: 40px;
    border: 1px solid rgb(58, 62, 69);
    border-radius: 3px;
    font-size: 16px;
}
.search{
    position: absolute;
    margin: 1.8rem 3.5rem;
    color: rgb(104, 110, 119);
}
.logo{
    width: 110px;
    padding-left: 2rem;
    box-sizing: content-box;
}
.icon{
    font-size: 18px;
    padding-right: 0.4rem;
}
/* ---------------end nav bar css------------ */
.line{
    border: 2.5px solid #82C3EC;;
    width: 280px;
    border-radius: 2px;
}


.bgg{
    background-image: url('../img/Animated\ Shape-4.svg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    height: 95%;
    /* border: 2px solid red; */
    margin: auto;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.card{
    margin:0 2rem;
    background-color:#82c3ecbc ;
    width:27% ;
    height: 500px;
    box-shadow: -1px 1px 10px black;
    transition: 1s;
    border-radius: 5px;
    text-align: center;
    /* padding:0 1rem 1rem 1rem; */
}
.card:hover{
    width: 27.5%;
    height: 510px;
    background-color: #82C3EC;
}
.soraa{
    width: 99%;
    height: 200px;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
}

.card button{
    width: 200px;
    height: 50px;
    margin: 1rem 0 0 0;
    background-color: rgb(58, 62, 69);
    border: none;
    font-size: 18px;
    color:white  ;
    font-family: 'Cousine', monospace;
    border-radius: 3px;
    transition: 1s;
}
.card button:hover{
    border: 3px solid rgb(58, 62, 69);
    background-color: transparent;
    color:white ;
}
.card p{
    box-sizing: content-box;
    font-size: 18px;
}
.card span p,.icon1{
    font-size: 16px;
    color: rgb(66, 65, 65);

}

footer{
    height: 25vh;
    width: 100%;
    background-color:rgb(58, 62, 69) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer button{
    width: 300px;
    height: 50px;
    background-color: #82C3EC ;
    border: none;
    font-size: 18px;
    color:rgb(58, 62, 69) ;
    font-family: 'Cousine', monospace;
    border-radius: 3px;
    transition: 1s;
    text-decoration: none;
    /* margin-top: 1rem; */
    margin:1rem 1rem 0 1rem ;
}
footer button:hover{
    border: 2px solid #82C3EC;
    background-color: transparent;
    color:white ;
}
footer h1{
    color: white;
    padding-bottom: 1rem;
}
#naaav{
    display: none;
}

/* responsive for mobile */
@media only screen and (max-width: 600px) and (min-width:100px){
#naaav{
    display: block;
    width: 100%;
    background-color: #82C3EC;
    font-size: 30px;
    text-align: center;
    color: white;
    border: none;
}
.search{
    margin-left:6rem ;
    margin-top: 2.7rem;
}
nav input{
    margin:2rem 6rem 1rem 5.4rem;
}
.hide{
    display: none;
}
nav{
    max-width: 600px;
    /* overflow: scroll; */
    /* flex-direction: column; */
    display: none;
}
nav ul{
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}
nav ul li a:hover{
    color: rgb(58, 62, 69);
    transition: 1s;
}
.appear{
   display: block!important;
   /* border: 5px solid red; */
   background-color:#82C3EC ;
   height: auto;
   width: 100%;
}

    /* section 2 */
    .content{
        flex-direction: column;
    }
    .card{
        width: auto;
        margin: 1rem;
    }
    .card:hover{
        width: auto;
    }
    /* footer */
    footer{
        width: 100%;
        height: auto;
        text-align: center;
    }
}